src/main/mule/framework/inbound-processing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="inbound-processing-flow">
		<set-variable value='#[attributes.headers."x-correlation-id" default correlationId]' doc:name="correlationId" doc:id="ae95b4d2-5707-4a01-b90e-637baf78b168" variableName="correlationId" doc:description="Message.correlationId will be automatically populated by the HTTP Listener when no X-Correlation-ID header value given. In this setter, we will take the value from the X-Correlation-ID header if value present, otherwise get it from the message.correlationId that is autogenerated." />
		<set-variable value="#[attributes.headers.source_system default '']" doc:name="Set Source System" doc:id="352cc7ef-9d6a-43ad-85a0-e3bd8fe517f0" variableName="sourceSystem"/>
		<set-variable value="#['Correlation Id: ' ++ vars.correlationId]" doc:name="Set Logging Identifier" doc:id="5058d6b8-ca3d-4438-a469-ee7555f37a9a" variableName="loggingIdentifier"/>
		<logger level="INFO" doc:name="Log Processing Started" doc:id="363d05b2-d6bd-48a4-945f-59516f8dcdb8" message="#[vars.loggingIdentifier] #[attributes.maskedRequestPath] Processing Started." />
    </flow>
</mule>
